/*
 ************************************************************************************
 * Copyright (C) 2012-2019 Openbravo S.L.U.
 * Licensed under the Openbravo Commercial License version 1.0
 * You may obtain a copy of the License at http://www.openbravo.com/legal/obcl.html
 * or in the legal folder of this module distribution.
 ************************************************************************************
 */

html {
  font-size: 62.5%;
}

/* Avoid default Chrome number input spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

body {
  margin: 0;
  padding: 0;
  line-height: 18px;
  font-family: "Segoe UI", "Lucida Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  touch-action: none;
}

.notouchactions {
  touch-action: none;
}

input, button, select, textarea {
  font-family: "Segoe UI", "Lucida Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input.error {
  background-color: rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.5);
}

button {
  margin: 0;
  line-height: 18px;
}

button::-moz-focus-inner {
  border: 0;
}

ul {
  list-style: none;
  list-style-position: outside;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

div {
  word-wrap: break-word;
}

/*subwindows*/
div.subwindow {
  background-color: #FFFFFF;
  position: relative;
  z-index: auto;
}

div.subwindowheadertext {
  line-height: 27px;
  font-size: 18px;
  font-weight: bold;
}

div.subwindow .subwindowheader {
  padding: 9px 15px;  
}

div.subwindow .subwindowheadertext {

}

div.subwindow-closebutton {
  cursor: pointer;
  float: right;
  font-size: 30px;
  font-weight: bold;
  line-height: 18px;
  color: black;
  text-shadow: 0 1px 0 white;
  opacity: 0.2;
}

div.subwindow-closebutton:hover {
  opacity: 0.5;
}


/*used by enyo.Scroller*/
.enyo-scroller {
  position: relative;
}

.enyo-fit.enyo-scroller {
  position: absolute;
}

.enyo-touch-scroller {
  overflow: hidden;
}

.enyo-touch-strategy-container {
  overflow: hidden;
}

.enyo-scrollee-fit {
  height: 100%;
}

.enyo-thumb {
  position: absolute;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  background: #333;
  border: 1px solid #666;
  opacity: 0.75;
  z-index: 1;
}

.enyo-vthumb {
  top: 0;
  right: 2px;
  width: 4px;
}

.enyo-hthumb {
  left: 0;
  bottom: 2px;
  height: 4px;
}

::-webkit-scrollbar {
  width: 32px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #dddddd;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #666666;
}

 ul,ol {
   margin-bottom: 0px;
 }

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.5;
  filter:alpha(opacity=50);
}

/* when in small device popup is shown in top position*/
@media all and (max-width: 800px) {
  .modal-popup {
    top: 5px !important;
    left: 5px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    width: calc(100% - 24px) !important;
  }
}

.combo {
  height: 40px;
  background-color: white;
  padding: 4px;
  margin-bottom: 9px;
  color: #555;
  border: 1px solid #CCC;
}

.input {
  height: 30px;
  background-color: white;
  padding: 4px;
  margin-bottom: 9px;
  color: #555;
  border: 1px solid #CCC;
}

.POSLoadingCenteredBox {
  position: fixed;
  background-color:rgba(0,0,0,0.5);
  border: 2px solid #E1E1E1;
  z-index: 1000000;
  top: 50%;
  left: 50%;
  margin: -70px 0 0 -130px;
  width: 280px;
  height: 140px;
}

.POSLoadingPromptLabel {
  padding: 40px 0px 6px 25px;
  font-size: 20px;
  color: #ccd0d4;
}
.POSLoadingPromptLabelExtra {
  font-size: 14px;
  padding-bottom: 5px;
  margin-left: 25px;
  color: #ccd0d4;
}

.POSLoadingProgressBar {
  text-align: center;
}

.POSLoadingProgressBarImg {
  height: 11px;
  width: 206px;
  border-radius: 2px;
  border: 1px solid #868686;
  margin: 0 auto;
}

.POSLoadingBarMessage {
  text-align: right; 
  color: #ccd0d4; 
  width: 210px; 
  height: 16px; 
  margin: 0 auto; 
  padding: 5px; 
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.POSLoadingBarFilling {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 1px;
  margin: 0px 0px 5px 0px;
  transition: width .4s ease-in-out;

  background-color: #454545;

  background-size: 20px 30px;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);

  -webkit-animation: POSLoadingBarFilling_animation 3s linear infinite;
  animation: POSLoadingBarFilling_animation 3s linear infinite;
}


@-webkit-keyframes POSLoadingBarFilling_animation { 
  0% {background-position: left top;} 100% {background-position: 60px 0px;}
}

@keyframes POSLoadingBarFilling_animation {
  0% {background-position: left top;} 100% {background-position: 60px 0px;}
}

.alert {
  position: absolute;
  right: 35px;
  top: 5px;

  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: white;
  border: 1px solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert-warning {
  background-color: #FCF8E3;
  border-color: #FBEED5;
  color: #C09853;
}

.alert-danger,
.alert-error {
  background-color: #F2DEDE;
  border-color: #EED3D7;
  color: #B94A48;
}

.alert-success {
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  color: #468847;
}

.alert-closebutton {
  cursor: pointer;
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: black;
  text-shadow: 0 1px 0 white;
  opacity: 0.2;
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}

.alert-closebutton:hover {
  opacity: 0.5;
}

.alert-fade {
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
  opacity: 0;
}

.alert-fade.alert-fade-in {
  opacity: 1;
  z-index: 100000 !important;
}

.hide {
  display: none;
}

.row::before, .row::after {
  display: table;
  content: "";
}

.row-fluid::before, .row-fluid::after {
  display: table;
  content: "";
}

.pos-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0px 30px;
}

.pos-container .pos-container-top-separator{
  height: 10px;
}

/*
   Media query for dynamic horizontal padding from 5px to 30px when
   the viewport aspect ratio goes from 5:4 (1.25) to 3:2 (1.5) respectively
*/

@media all and (max-aspect-ratio: 150/100) {
  .pos-container {
    padding: 0px calc((24/175 * 100%) - 115px);
  }
}

@media all and (max-aspect-ratio: 125/100) {
  .pos-container {
    padding: 0px 5px;
  }
}


@media all and (max-width: 800px) {
  .pos-container {
    padding: 0px 5px;
  }
}

.postab-content {
  width: 100%;
}

.postab-pane {
  display: none;
}

.postab-pane.active {
  display: block;
}

.span1 {
  float: left;
  width: 8.33%;
  touch-action: none;
}

.span2 {
  float: left;
  width: 16.66%;
  touch-action: none;
}

.span3 {
  float: left;
  width: 25%;
  touch-action: none;
}

.span4 {
  float: left;
  width: 33.33%;
  touch-action: none;
}

.span5 {
  float: left;
  width: 41.66%;
  touch-action: none;
}

.span6 {
  float: left;
  width: 50%;
  touch-action: none;
}

.span7 {
  float: left;
  width: 58.33%;
  touch-action: none;
}

.span8 {
  float: left;
  width: 66.66%;
  touch-action: none;
}

.span9 {
  float: left;
  width: 75%;
  touch-action: none;
}

.span10 {
  float: left;
  width: 83.33%;
  touch-action: none;
}

.span11 {
  float: left;
  width: 91.66%;
  touch-action: none;
}

.span12 {
  float: left;
  width: 100%;
  touch-action: none;
}

.btnlink-toolbar:after {
  clear: both;
}


.btnkeyboard-num {
  font-size: 24px !important;
}

button.btnkeyboard {
  display: block;
  width: 100%;
  border: none;
  font-size: 18px;
  text-align: center;
  line-height: 23px;
  padding: 0px;
  text-decoration: none;
  background-color: #e2e2e2;
  color: black;
  cursor: pointer;
  height: 57px;
}

button.btnkeyboard-inactive,
button.btnkeyboard-inactive.btn-over,
button.btnkeyboard-inactive:hover,
button.btnkeyboard-inactive.btn-down,
button.btnkeyboard-inactive:active {
  opacity: 1 !important;
  background-color: darkgray !important;
  cursor: default;
  color: black;
}

button.btnkeyboard.btn-over,
button.btnkeyboard:hover {
  opacity: 0.75;
}

button.btnkeyboard.btn-down,
button.btnkeyboard:active {
  opacity: 1;
  background-color: #cccccc;
}
button.btnactive {
  background-color: #F8941D;
}
button.btnactive-green {
  background-color: #6cb33f;
}
button.btnactive-blue {
  background-color: #7da7d9;
}

button.btnkeyboard-plus.btn-down,
button.btnkeyboard-plus:active {
  opacity: 1;
  background-color: #6cb33f;
}

button.btnkeyboard-minus.btn-down,
button.btnkeyboard-minus:active {
  opacity: 1;
  background-color: #f8941d;
}

button.btnlink > span {
  display: block;
}

button.btnlink {
  display: inline-block;
  font-weight: 600;
  border: none;
  font-size: 18px;
  padding: 12px 15px 14px 15px;
  text-decoration: none;
  background-color: #6cb33f;
  color: white;
  cursor: pointer;
  margin: 10px;
  opacity: 0.999; /* Instead of "1" to avoid strange displacement effect in buttons on hover effect */
}

button.btnlink-toolbar {
  margin: 0px;
  padding: 0px;
  height: 57px;
  width: 100%;
  font-weight: normal;
}

button.btnlink.btn-over,
button.btnlink:hover {
  opacity: 0.75;
}
button.btnlink.btn-down,
button.btnlink:active {
  opacity: 0.999; /* Instead of "1" to avoid strange displacement effect in buttons on hover effect */
  background-color: #cccccc;
}
button.btnlink:disabled,
button.btnlink[disabled=true]:hover{
  background-color: #a9a9a9;
  opacity: 1;
  cursor: default;
}
button.btnlink-small {
  display: inline-block;
  font-weight: normal;
  border: none;
  height: 30px;
  font-size: 16px;
  padding: 5px 15px 7px 15px;
  text-decoration: none;
  background-color: #6cb33f;
  color: white;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
}
button.btnlink-small:disabled,
button.btnlink-small[disabled=true]:hover{
  background-color: #a9a9a9;
  opacity: 1;
  cursor: default;
}

@media all and (max-width: 800px) {
  button.btnlink-small {
    height: 45px;
  }
}

button.btnlink-small.fixedheight {
  height: 45px;
}
button.btnlink-small.fixedwidth {
  width: 45px;
}

button.btnlink-medium {
  display: inline-block;
  font-weight: normal;
  border: none;
  height: 45px;
  font-size: 16px;
  padding: 5px 15px 7px 15px;
  text-decoration: none;
  background-color: #6cb33f;
  color: white;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
}

@media all and (max-width: 800px) {
  button.btnlink-medium {
    height: 60px;
  }
}

button.btnlink-red {
  background-color: red;
  color: black;
}
button.btnlink-orange {
  background-color: orange;
  color: black;
}
button.btnlink-lightblue {
  background-color: lightblue;
  color: black;
}
button.btnlink-lightpink {
  background-color: lightpink;
  color: black;
}
button.btnlink-lightgreen {
  background-color: lightgreen;
  color: black;
}
button.btnlink-wheat {
  background-color: wheat;
  color: black;
}
button.btnlink-gray {
  background-color: #e2e2e2;
  color: black;
}
button.btnlink-darkgray {
  background-color: #363636;
  color: white;
}
button.btnlink-yellow {
  background-color: #f8e859;
  color: black;
}
button.btnlink-white {
  background-color: #ffffff;
  color: black;
}
button.btnlink-fontgray {
  color: #363636;
}
button.btnlink-fontblue {
  color: #7da7d9;
}
button.btnlink-white-simple {
  background-color: #ffffff;
  color: black;
  border: 2px solid #cccccc;
}
button.btnlink-yellow-bold {
  background-color: yellow;
  color: black;
  font-weight: bold;
  border: 4px solid #cccccc;
}
button.btnlink-payment-clear {
  width: 90%;
  margin: 0px 0px 0px 16px;
  padding-top: 4px;
  border: 1px #cccccc solid;
}

button.btnlink-cashup-edit {
  margin: 4px 5px 4px 5px;
  width: 50px;
}

button.btnlink-cashup-ok {
  margin: 4px 5px 4px 5px;
  width: 70px;
}

button.error {
  background-color: #ff0000;
}

button.btnselect {
  display: block;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  border: none;
  margin: 0px;
  padding: 8px 10px 8px 10px;
  text-decoration: none;
  text-align: left;
  color: black;
  cursor: pointer;
  border-bottom: 1px solid #cccccc;
}
button.btnselect.btn-down,
button.btnselect:active {
  background-color: #cccccc;
}

button.btnselect.noclic {
    background-color: #ffffff;
    cursor: default;    
}

button.btnselect.btn-down.noclic,
button.btnselect.noclic:active {
  background-color: #ffffff;
}

li.selected > button,
li.selected > button:hover {
  background-color: #7da7d9;
  color: #ffffff;
}
li.selected > button > div > div.orderline-characteristicsDescription {
  color: #666666;
}
li.selected > button.btnselect-browse {
  background-color: #B882C6;
  color: #ffffff;
}
/* To be able to set the order line with #F8941D bg color when we are in EDIT mode */
li.selected > button.btnselect-orderline {
}
li.selected > button.btnselect-orderline.btnselect-orderline-edit,
li.selected > button.btnselect-orderline.btnselect-orderline-edit:hover {
  background-color: #F8941D;
  color: black;
}
li.selected > button.btnselect-orderline.btnselect-orderline-edit > div > div.orderline-characteristicsDescription {
  color: #666666;
}

button.btn-dropdown {
  color: white;
  cursor: pointer;
  text-decoration: none;
  background: none;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
}

button.btn-dropdown:active,
button.btn-dropdown.active {
  border: 0px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: none;
}

div.dropdown {
  padding: 0px;
  background-image: none;
  background-color: white;
  border-radius: 0px;
  color: black;
  min-width: 210px;
}

div.dropdown:hover {
  background-image: none;
  background-color: white;
}

div.dropdown-menuitem {
  cursor: pointer;
}

.disabled > div.dropdown-menuitem,
.disabled > div.dropdown-menuitem:hover{
  color: #cccccc;
  padding: 12px 15px 12px 15px;
  cursor: default;
}

div.dropdown-menuitem:hover {
  background-color: #E1E1E1;
}

.dropdown-menudivider,
.dropdown-menudivider:hover {
  margin: 6px 0px;
  padding: 0px;
  border-bottom: 1px solid #E5E5E5;
}

div.dropdown-clientdata {
  min-width: 350px;
}


div.btnlink {
  display: inline-block;
  padding: 12px 15px 12px 15px;
  text-decoration: none;
  background-color: darkgray;
  color: white;
  margin: 5px;
  float: left;
}

.btn-icon-left {
  margin: 2px 5px 0px 0px;
}

.btn-icon-right {
  margin: 2px 0px 0px 5px;
}

.btn-icon {
  width: 100%;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}
.btn-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-icon-drop {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}
.btn-icon-small {
  width: 100%;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}
.btn-icon-adaptative {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}
.btn-icon-status {
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-size: 10px 10px;
  background-position: center center;
  background-repeat: no-repeat;
}
.btn-icon-synchronizing {
  background-image: url('./../img/iconSync.svg');
  background-color: #6699cc;
  border: 1.5px solid white;
  
}.btn-icon-transitionToSynchronizing {
  background-image: url('./../img/iconSync.svg');
  background-color: #FF8E3A;
  border: 1.5px solid white;
}
.btn-icon-notsynchronized_old {
  background-image: url('./../img/iconNotSynchronized.png');
}
.btn-icon-offline {
  background-image: url('./../img/iconOffline.svg');
  background-color: #DBDBDB;
  border: 1.5px solid white;
}
.btn-icon-offline-notsynchronized {
  background-image: url('./../img/iconOffline.svg');
  background-color: #DBDBDB;
  border: 1.5px solid #DE4343;
}
.btn-icon-rotating-slow {
  animation-name: spin_syncing;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;  
}
.btn-icon-rotating-fast {
  animation-name: spin_syncing;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;  
}
@keyframes spin_syncing {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
.btn-icon-toolbartab {
  position: relative;
  float: left;
  height: inherit;
}
.btn-icon-toolbartabrfid {
  float: left;
  width: 17px;
  height: 50%;
  margin-left: 5px;
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
}
.btn-icon-switchon {
  background-image: url('./../img/iconSwitchON.svg');
  background-size: 61px 23px;
}
.btn-icon-switchoff {
  background-image: url('./../img/iconSwitchOFF.svg');
  background-size: 61px 23px;
}
.btn-icon-switchoffline {
  background-image: url('./../img/iconSwitchOffline.svg');
  background-size: 61px 23px;
}
.btn-icon-rfidon {
  background-image: url('./../img/iconRFIDON.svg');
  background-size: 17px 18px;
}
.btn-icon-rfidoff {
  background-image: url('./../img/iconRFIDOFF.svg');
  background-size: 17px 18px;
}
.btn-icon-rfidoffline {
  background-image: url('./../img/iconRFIDOffline.svg');
  background-size: 17px 18px;
}
.btn-icon-workspace {
  background-image: url('./../img/iconWorkspace.png');
}
.btn-icon-new {
  background-image: url('./../img/iconCreateNew.svg');
  background-size: 19px 19px;
}
.btn-icon-delete {
  background-image: url('./../img/iconDelete.svg');
  background-size: 15px 18px;
}
.btn-icon-delete.paidticket {
  background-image: url('./../img/iconClearPaidTicket.png');
}
.btn-icon-print {
  background-image: url('./../img/iconPrint.png');
}
.btn-icon-menu {
  background-image: url('./../img/iconMenu.svg');
  background-size: 19px 12px;
}
.btn-icon-backspace {
  background-image: url('./../img/iconBackspace.svg');
  background-size: 32px 24px;
}
.btn-icon-enter {
  background-image: url('./../img/iconEnter.svg');
  background-size: 24px 17px;
}
.btn-icon-search {
  background-image: url('./../img/iconSearch.svg');
  background-size: 15px 16px;
}
.btn-icon-filter {
  background-image: url('./../img/iconFilter.png');
}
.btn-icon-home {
  background-image: url('./../img/iconHome.png');
}
.btn-icon-add {
  background-image: url('./../img/iconAdd.svg');
  background-size: 42px 42px;
}
.btn-icon-clear {
  background-image: url('./../img/iconClear.svg');
  background-size: 13px 13px;
}
.btn-icon-edit {
  background-image: url('./../img/iconEdit.svg');
  background-size: 20px 20px;
}
.btn-icon-substract {
  background-image: url('./../img/iconSubstract.png');
}
.btn-icon-check {
  background-image: url('./../img/iconCheck.svg');
  background-size: 22px 18px;
}
.btn-icon-clearPayment {
  background-image: url('./../img/iconClearPayment.svg');
  background-size: 13px 13px;
}
.btn-icon-reversePayment {
  background-image: url('./../img/iconReversePayment.png');
}
.btn-icon-switchColumn {
  background-image: url('./../img/dots-icon-2col.png');
  background-color: #f3f1ff !important;
}
.btn-icon-loading {
  background-image: url('./../img/iconloading.gif');
}
.btn-icon-inspectTree {
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 38px;
  background-position: center;
  cursor: pointer;
  vertical-align: middle;
  width: 100%;
  background-image: url('./../img/inspectTree.svg');
  background-size: 31px 27px;
}
.btn-check-half-on {
  background-image: url('./../img/checkbox-half-on.svg');
  background-size: 34px 27px;
}
.btn-check,
.btn-check-alt {
  width: 34px;
  height: 27px;
  border: none;
  background-repeat: no-repeat;
  background-position: left center;
  background-color: transparent;
}

.btn-check,
.btn-check-alt {
  background-image: url('./../img/checkbox-off.svg');
  background-size: 34px 27px;
}

.btn-check.active {
  background-image: url('./../img/checkbox-on.svg');
  background-size: 34px 27px;
}
.btn-check-alt.active {
  background-image: url('./../img/checkbox-alt-on.svg');
  background-size: 34px 27px;
}

.btn-check.active:active,
.btn-check-alt.active:active {
  background-image: url('./../img/checkbox-off.svg');
  background-size: 34px 27px;
}
.btn-check.half-active {
  background-image: url('./../img/checkbox-half-on.svg');
  background-size: 34px 27px;
}
.btn-check-alt.half-active {
  background-image: url('./../img/checkbox-alt-half-on.svg');
  background-size: 34px 27px;
}
/*if disabled don't change*/

.btn-check[disabled="disabled"]:active,
.btn-check-alt[disabled="disabled"]:active {
  background-image: url('./../img/checkbox-off.svg');
  background-size: 34px 27px;
}

.btn-check.active[disabled="disabled"]:active{
  background-image: url('./../img/checkbox-on.svg');
  background-size: 34px 27px;
}
.btn-check-alt.active[disabled="disabled"]:active{
  background-image: url('./../img/checkbox-alt-on.svg');
  background-size: 34px 27px;
}
.btn-icon-returned {
  background-image: url('./../img/iconReturned.png');
   cursor: default !important;
}
.btn-icon-canceled {
  background-image: url('./../img/iconCanceled.png');
   cursor: default !important;
}
.btn-returned {
  font-weight: bold;
  font-size: 18px;
  color: #7da7d9;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 150px;
}
.btn-canceled {
  font-weight: bold;
  font-size: 18px;
  color: #7da7d9;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 150px;
}

div.btn-radio,
div.btn-radio:hover,
div.btn-radio:active,
div.btn-radio.active {
  width: auto;
  height: 29px;
  border: none;
  font-size: 16px;
  color: black;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-repeat: no-repeat;
  background-position: left center;
  background-color: transparent;
  background-image: url('./../img/radio-off.svg');
  background-size: 26px 26px;
}

div.btn-radio.active {
  background-image: url('./../img/radio-on.svg');
}


ul.nav-pos:after {
  clear: both;
}

ul.nav-pos > li {
  float: left;
}

ul.nav-pos > li.active > a {
  background-color: #7da7d9;
}

ul.nav-pos > li.active > button {
  background-color: #7da7d9;
}

ul.nav-pos > li.active > div > button,
ul.nav-pos > li.active > div > button:hover {
  opacity: 1;
  background-color: #7da7d9;
}

ul.nav-pos > li.active:nth-child(0) > div > button {
  background-color: #363636;
}

ul.nav-pos > li.active:nth-child(1) > div > button {
  background-color: #7da7d9;
}

ul.nav-pos > li.active:nth-child(2) > div > button {
  background-color: #B882C6;
}

ul.nav-pos > li.active:nth-child(3) > div > button {
  background-color: #f8e859;
}

ul.nav-pos > li.active:nth-child(4) > div > button {
  background-color: #f8941d;
}

div.btnselect {
  display: block;
  position: relative;
  padding: 8px 10px 8px 10px;
  text-decoration: none;
  border-bottom: 1px solid #cccccc;
}

.top-right-logo {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center right;
  background-color: transparent;
  background-image: url('./../img/OBLogo-small.svg');
  background-size: 30px 30px;
}

.image-wrap {
  position: relative;
  display: inline-block;
  max-width: 100%;
  vertical-align: bottom;
}
.image-wrap:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px;
  left: -1px;
  border: solid 1px #cccccc;

/*   -wekbit-box-shadow: inset 0 0 1px rgba(255,255,255,.4), inset 0 1px 0 rgba(255,255,255,.4), 0 1px 2px rgba(0,0,0,.3); */
/*   -moz-box-shadow: inset 0 0 1px rgba(255,255,255,.4), inset 0 1px 0 rgba(255,255,255,.4), 0 1px 2px rgba(0,0,0,.3); */
/*   box-shadow: inset 0 0 1px rgba(255,255,255,.4), inset 0 1px 0 rgba(255,255,255,.4), 0 1px 2px rgba(0,0,0,.3); */

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.flex-image-wrap {
  border: solid 1px #cccccc;
}

.image-wrap div {
  vertical-align: bottom;

/*   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4); */
/*   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4); */
/*   box-shadow: 0 1px 2px rgba(0,0,0,.4); */

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.image-wrap.image-editline:after {
  border: none;
}

div.pos-clock {
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-align: center;
}

div.clock-time {
  font-size: 48px;
  margin: 0px 10px 20px 10px;
}

div.clock-date {
  font-size: 21px;
  margin: 0px 10px 15px 10px;
}

div.modal {
  color: #333;
  overflow: visible;
  width: 560px;
  background: white;
  padding: 6px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

@media all and (max-width: 800px) {
  div.modal {
    width: 80%;
  }
}

div.modal-header {
  display: block;
  width: 100%;
  border-bottom: 1px solid #EEE;
  padding: 3px 0px 7px 0px;
}

div.modal-header-text {
  line-height: 27px;
  font-size: 18px;
  font-weight: bold;
  margin: 0px 10px 0px 10px;
}

div.modal-header-closebutton {
  cursor: pointer;
  float: right;
  padding: 0px 8px 0px 0px;
  font-size: 30px;
  font-weight: bold;
  line-height: 18px;
  color: black;
  text-shadow: 0 1px 0 white;
  opacity: 0.2;
}

@media all and (max-width: 800px) {
  div.modal-header-closebutton {
    font-size: 60px;
  }
}

div.modal-header-closebutton:hover {
  opacity: 0.5;
}

div.modal-body {
  width: 100%;
}

div.modal-dialog.error {
  background-color: red;
}

div.modal-dialog {
  color: #333;
  overflow: visible;
  width: 560px;
  background: #6cb33f;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

@media all and (max-width: 800px) {
  div.modal-dialog {
    left: 10px !important;
    margin-left: 0px !important;
    width: 95%;
  }
}

div.modal-dialog-header {
  display: block;
  width: 100%;
  border: none;
  padding: 9px 0px 20px 0px;
}

div.modal-dialog-header-text {
  line-height: normal;
  text-align: center;
  font-size: 225%;
  font-weight: bold;
  color: white;
  margin: 0px 10px 0px 10px;
}

div.modal-dialog-header-closebutton {
  cursor: pointer;
  float: right;
  padding: 0px 8px 0px 0px;
  font-size: 30px;
  font-weight: bold;
  line-height: 18px;
  color: black;
  text-shadow: 0 1px 0 white;
  opacity: 0.2;
}
div.modal-dialog-header-closebutton:hover {
  opacity: 0.5;
}

div.modal-dialog-user {
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: white;
  padding: 10px 0px 10px 0px;
}

div.modal-dialog-body {
  width: 100%;
  padding: 0px;
  text-align: center;
}

div.modal-dialog-body-content {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

div.modal-dialog-body-content > div > br {
  line-height: 50px;
}

div.modal-dialog-body-buttons {
  padding: 30px 0px 30px 0px;
}

button.modal-dialog-button.error {
  color: red;
}

button.modal-dialog-content-button, /* For backward compatibility */
button.modal-dialog-button {
  text-decoration: none;
  background-color: white;
  color: #72B446;
  min-width: 115px;
}

button.modal-dialog-content-button:focus,
button.modal-dialog-button:focus {
  outline: none;
  border-width: 2px;
  border-color: #0078d7;
  border-style: solid;
  padding: 10px 13px 12px !important;
}

.discount-dialog-profile-combo {
  height: 40px;
  width: 100%;
  margin: 0px;
  background-color: white;
  padding: 4px;
  border: 1px solid #CCC;
}

.modal-dialog-profile-checkbox {
  height: 40px;
  margin: 0px;
  background-color: white;
  width: 59%;
  float:left;
}

.modal-dialog-receipt-properties-text {
  height: 40px;
  margin: 0px;
  background-color: white;
  width: 100%;
}

.modal-dialog-btn-check {
  height: 38px;
  background-position: 10px center;
  cursor: pointer;
  vertical-align: middle;
  width: 100%;
}

.hiddenInput {
   height: 1px;
   width: 1px;
   margin: 0px;
   padding: 0px;
   cursor: default;
   color: transparent;
   background-color: transparent;
   border: transparent;
   outline: none;
}

button.btnlink-left-toolbar {
  display: inline-block;
  font-weight: bold;
  border: none;
  font-size: 18px;
  text-decoration: none;
  background-color: #959595;
  color: white;
  cursor: pointer;
  line-height: 36px;
  border: 1px solid #FFF;
  width: 100%;
}

button.btnlink-left-toolbar:disabled {
  cursor: default;
  background-color: #CAC8C8;
}

button.btnlink-left-toolbar:hover{
  background-color: #F8E859;
}

button.btnlink-left-toolbar:disabled:hover{
  background-color: #CAC8C8;
}

button.btnselect-customer {
  display: block;
  width: 100%;
  background-color: #ECECEC;
  position: relative;
  border: none;
  padding: 8px 10px 8px 10px;
  text-decoration: none;
  text-align: left;
  color: black;
  cursor: pointer;
  border-bottom: 1px solid #FFFFFF;
}

button.btnbp:disabled {
  text-decoration: none;
  background-color: white;
  color: #000;
  min-width: 115px;
}

.enyo-panels > * {
    width: 50%;
}

.menu-option {
    background: darkgray url('./../img/BACKGROUND.svg') top left;
    background-size: 640px 384px;
    background-position: -5px -10px;
    height: 100%;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}

.menu-switch {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
    background-color: transparent;
}

.menu-switch:hover {
    background-color: #E1E1E1;
}

.disabled.menu-switch {
  color: #cccccc;
  cursor: default;
}

.offlineicon {
  background: url('./../img/iconOffline.svg');
  background-size: 15px 15px;
}

.onlineicon {
  background-image: url('./../img/iconOnline.svg');
  background-size: 14px 14px;
}

.menu-connection {
  padding-left: 15px; 
  background-repeat: no-repeat;
  background-position: 11px 14px;
  font-style: italic;
}

.widget-profile-title {
  height: 40px;
  background-color: #FFF899;
  margin: -6px;
  background-repeat: no-repeat;
  background-position: 18px 22px;
  font-style: italic;
  padding-top: 20px;
}

.widget-profile-title-connection {
  padding-left: 40px;
}

/* Popup.css */
div.popup-processing {
  box-shadow: none;
  border: none;
  border-radius: 0px;
  padding: 0px;
  color: #ffffff;
  background: none;
}

div.popup-processing div.processing-container {
  width: 284px;
  height: 182px;
  border: 2px solid white;
  background-color: black;
  opacity: 0.8;
}

div.processing-container div.processing-label {
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 140%;
  padding: 12px;
}

div.processing-container div.processing-spinner {
  position: relative;
  height: 102px;
  width: 102px;
  left: calc(50% - 51px);
  top: 18px;
}

@keyframes processing-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

div.processing-spinner div {
  position: absolute;
  animation-name: processing-spinner;
  animation-duration: 1.1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  left: 47px;
  top: 0;
  width: 9px;
  height: 19.5px;
  background-color: #cccccc;
  border-radius: 20%;
  transform-origin: 4.5px 42px;
}
div.processing-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.000s;
}
div.processing-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.909s;
}
div.processing-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.818s;
}
div.processing-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.727s;
}
div.processing-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.636s;
}
div.processing-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.545s;
}
div.processing-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.455s;
}
div.processing-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.364s;
}
div.processing-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.273s;
}
div.processing-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.182s;
}
div.processing-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.091s;
}
div.processing-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

.gridContainer {
  display: grid;
}

.flexContainer {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}

.flexContainer .properties-label, .properties-label {
  border: 1px solid #F0F0F0; 
  background-color: #E2E2E2; 
  color: black; 
  width: 40%; 
  height: 40px; 
  float: left; 
  text-align: right;
}
.flexContainer .properties-label .modal-dialog-receipt-properties-label {
  padding: 6px 8px 0px 0px;
  font-size: 16px;
}

.flexContainer .properties-component {
  border: 1px solid #F0F0F0; 
  float: left; 
  width: 60%;
}
.properties-component .modal-dialog-receipt-properties-text input {
  border-width: 0px;
  padding: 0px 7px 0px 7px;
  height: inherit;
  box-sizing: border-box;
}
.properties-component .modal-dialog-receipt-properties-text select {
  background-image: url('./../img/iconDropdownArrow.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
  background-size: 15px 8px;
  background-color: white;
  appearance: none;
  -moz-appearance: none;     
  -webkit-appearance: none;
  border-width: 0px;
  padding: 0px 30px 0px 7px;
}

.properties-component .modal-dialog-receipt-properties-text input:focus {
  outline: none;
  border-width: 2px;
  border-color: #0078d7;
  border-style: solid;
  padding: 0px 5px 0px 5px;
}

.properties-component .modal-dialog-receipt-properties-text select:focus {
  outline: none;
  border-width: 2px;
  border-color: #0078d7;
  border-style: solid;
  background-position: calc(100% - 6px) center;
  padding: 0px 28px 0px 5px;
}

.properties-component .modal-dialog-receipt-properties-text button {
  height: 100%;
}

.properties-component .modal-dialog-receipt-properties-text button.modal-dialog-btn-check:focus {
  outline: none;
  border-width: 2px;
  border-color: #0078d7;
  border-style: solid;
  background-position: 8px center !important;
}

.properties-component .modal-dialog-receipt-properties-text button.btnlink-gray:focus {
  outline: none;
  border-width: 2px;
  border-color: #0078d7;
  border-style: solid;
  padding: 2px 13px 5px 13px !important;
}

.modal-dialog-profile-combo {
  height: 40px;
  width: 59%;
  margin: 0px;
  background-color: white;
  padding: 4px;
  border: 1px solid #F0F0F0; 
  float: left;
}

body.indev-background {
  background: darkgray url('./../img/BACKGROUND-InDevelopment.svg') top left;
  background-size: 640px 384px;
  background-position: -5px -10px;
  height: 100%;
}
.filter-panel-enabled {
  border:2px solid #ccc; 
  background-color: yellow;
}

.filter-panel-disabled {
  border: none; 
  background-color: white;
}

.edit-number {
  padding: 2px 4px 2px 4px !important;
  text-align: center !important;
}

.obflex {
  padding: 5px;
}

.standardFlexContainer {
  padding: 0;
  margin: 0;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}
.standardFlexContainer.hidden {
  display: none !important;
}
.flexwrap {
  flex-wrap: wrap !important;
}
.flexend {
  justify-content: flex-end !important;
}

.flexAllWidth {
  width: 100%;
  overflow: hidden;
}

.standardFlexContainer > .flex-item {
    text-align: left;
}
.standardFlexContainer.flexColumn {
    flex-direction: column;
    justify-content: flex-start
}

.listcontextmenu-icon {
  width:30px;
  height:30px;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  border: 4px solid transparent;
  transition:all 0.3s ease;  
  background-clip: content-box;
  background-size: 5px 19px;
  background-position: center center;
  background-repeat: no-repeat;  
  background-image: url(./../img/iconContextualButton.svg);
}

.listcontextmenu-icon:hover {
  background-color: rgba(0,0,0,0.1);
}

.listcontextmenu-icon:active {
  transition:all 0.1s ease;  
  background-color: rgba(0,0,0,0.2);
}


.onyx-menu-item {
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.onyx-menu-item:hover {
  background-color: #e2e2e2 !important;
}

.onyx-toolbar-inline > * {
  margin: 0px 6px !important;
}

.onyx-menu, .onyx.onyx-menu {
  z-index: 2147483647 !important;
}

.transparent{
  color: transparent;
}

.paymentbuttons-scroll {
  overflow-x: hidden; 
  overflow-y: auto; 
  max-height: 200px;
}

.advancedfilter-selector-btn {
  text-overflow:ellipsis; 
  white-space: nowrap; 
  overflow: hidden; 
  margin: 5px !important;
  width: calc(100% - 10px);
  text-align: left;
}

div.approval-warning {
  padding: 20px 5px 0px 5px;
  font-size: 16px;
  color: yellow;
  text-align: left;
}